---
import logoDark from '../../assets/ng-diagram-logo-white.svg';
import logoLight from '../../assets/ng-diagram-logo-black.svg';
const { siteTitle } = Astro.locals.starlightRoute;
---

<a href="https://www.ngdiagram.dev/" class="site-title sl-flex">
	<img
		class="light:sl-hidden print:hidden"
		alt=""
		src={logoDark.src}
		width={logoDark.width}
		height={logoDark.height}
	/>
	<img
		class="dark:sl-hidden print:block"
		alt=""
		src={logoLight.src}
		width={logoLight.width}
		height={logoLight.height}
	/>
	<span class="sr-only" translate="no">
		{siteTitle}
	</span>
</a>

<style>
	@layer starlight.core {
		.site-title {
			align-items: center;
			gap: var(--sl-nav-gap);
			font-size: var(--sl-text-h4);
			font-weight: 600;
			color: var(--sl-color-text-accent);
			text-decoration: none;
			white-space: nowrap;
			min-width: 0;
		}
		span {
			overflow: hidden;
		}
		img {
			height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
			width: auto;
			max-width: 100%;
			object-fit: contain;
			object-position: 0 50%;
		}
	}
</style>
